body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #0f0f0f;
}

::-webkit-scrollbar{
    width:0.6em;
}

::-webkit-scrollbar-track{
    background-color: #0f0f0f;
    /* background-color: transparent; */
    /* margin: 2px; */ 
}

::-webkit-scrollbar-thumb{
    background-color: rgb(192, 187, 187);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover{
    background-color:rgb(138, 135, 135);
}

/* --------------------------------------------------------------------------------------------------------- */

/* Header CSS start */

.headerContainer{
    background-color: #0f0f0f;
    color:white;
    display: flex;
    z-index:10;

    position: fixed;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;

    padding: 0.7em 2.5em 0.7em 2.5em;
}

.header__logo_container{
    display: flex;
    justify-content: center;
}

.header__logo{
    width: 7em;
    height: 2em;
    object-fit: cover;
    cursor: pointer;
}

.header__searchbar_container{
    display: flex;
    width:38em;
}

.header__searchbar{
    /* width:38em; */
    flex:1;
    color:white;
    padding-left: 1.2em;
    outline: none;
    border-style: solid;
    background-color: hsl(0, 0%, 7%);
    border-color:hsl(0, 0%, 18.82%);
    border-width: 1px;
    height: 2.5em;
    border-radius: 30px 0px 0px 30px;
    font-size:1em;
}

.header__searchbar:focus{
    border-color: rgb(16, 126, 211);
    /* box-shadow: 0px 0px 3px 0px rgb(18, 107, 175); */
}

.header__searchbar_btn{
    border-style: solid;
    border-width: 1px;
    border-color:hsl(0, 0%, 18.82%);
    background-color:hsl(0, 0%, 18.82%);
    padding-left: 1.6em;
    padding-right: 1.6em;
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;

    position: relative;
}

.header__searchbar_btn::after{
    content: 'Search';
    position: absolute;
    left:0;
    top:60px;

    background-color: hsl(0, 2%, 68%);
    padding: 0.8em 0.7em 0.8em 0.7em;
    border-radius: 6px;
    color:white;
    font-size: 0.9em;
    opacity: 0%;
    transition: opacity 0.2s;
    pointer-events: none;
}

.header__searchbar_btn:hover::after{
    opacity: 100%;
}

.header__search_icon{
    font-size: 1.2em;
    color:white;
}

.header__account_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 6em;
}

.header__account_notification_icon{
    font-size: 1.2em;
    padding: 0.56em;
    border-radius: 30px;
    transition: all 0.13s;
}

.header__account_notification{
    position: relative;
}

.header__account_notification::after{
    content: 'Notifications';
    position: absolute;
    left:-50%;
    top:60px;

    background-color: hsl(0, 2%, 68%);
    padding: 0.7em 0.6em 0.7em 0.6em;
    border-radius: 6px;
    color:white;
    font-size: 0.8em;
    opacity: 0%;
    transition: opacity 0.2s;
    pointer-events: none;
}

.header__account_notification:hover::after{
    opacity: 100%;
}

.header__account_notification_icon:hover{
    background-color: hsl(0, 0%, 18.82%);
    cursor: pointer;
}

.header__account_photo img{
    width: 100%;
    height: 2.5em;
}

/* .header__account_photo_icon{
    font-size: 2.1em;
}

.header__account_photo_icon:hover{
    cursor: pointer;
} */

/* Header CSS end */

/* --------------------------------------------------------------------------------------------------------- */

/* Sidebar CSS start */

.sidebar__container{
    padding-top: 4em;
    position: fixed;
    min-width:15%;
    height: 92vh;
    overflow-y:scroll;
}

.sidebar__container::-webkit-scrollbar-thumb{
    background-color:#0f0f0f;
}

.sidebar__container:hover::-webkit-scrollbar-thumb{
    background-color: rgb(192, 187, 187);;
}

.sidebar__general_container{
    display: grid;

    padding: 0.2em 0em 1em 0em;
    
    background-color:#0f0f0f;
    min-height: 26vh;

    border-bottom: 1px solid rgb(192, 187, 187);
}

.sidebar__home, .sidebar__history, .sidebar__library, .sidebar__watchlater{
    display: flex;
    padding-left:1em;
    padding-right:1em;
    align-items: center;
    color: white;
    border-radius: 15px;
    transition: all 0.17s;
}

.sidebar__home:hover, .sidebar__history:hover, .sidebar__library:hover, .sidebar__watchlater:hover{
    background-color: hsl(0, 0%, 18.82%);
    cursor: pointer;
}

.sidebar__home_icon, .sidebar__history_icon, .sidebar__library_icon, .sidebar__watchlater_icon{
    padding-left: 1.2em;
    color:white;
    font-size:1.2em;
}

.sidebar__home_text, .sidebar__history_text, .sidebar__library_text, .sidebar__watchlater_text{
    display: flex;
    align-items: center;
    padding-left: 1em;
    font-size: 0.9em;
}

.sidebar__subInfo_container{
    background-color:#0f0f0f;
    display: grid;
    min-height: 50vh;
    color:white;
    padding: 0em 0em 1em 0em;
    border-bottom: 1px solid rgb(192, 187, 187);
}

.sidebar__sub_title{
    display: flex;
    align-items: center;
    padding-left: 2.2em;
    padding-top: 1.3em;
    padding-bottom: 0.8em;
}

.sidebar__subInfo_card{
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding-top:0.7em;
    padding-bottom: 0.7em;
}

.sidebar__subInfo_card:hover{
    background-color: hsl(0, 0%, 18.82%);
    cursor: pointer;
}


.sidebar__subInfo_photo_icon{
    padding-left: 1.2em;
    color:white;
    font-size: 1.7em;
}

.sidebar__subInfo_channelName{
    /* display: flex; */
    align-items: center;
    padding-left: 1em;
    font-size: 0.9em;

    width:8em;
    /*ellipsis doesnt work if display is set to flex*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar__sub_showMore{
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 0.7em 0 0.7em 0;
}

.sidebar__sub_showMore:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 18.82%);
}

.sidebar__sub_showMore_icon{
    color: white;
    padding-left: 1.55em;
    font-size: 1.4em;
}

.sidebar__sub_showMore_text{
    padding-left: 1em;
    font-size: 0.9em;
}

.sidebar__footer_container{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1em 1.5em 1em 2.3em;
    font-size: 0.8em;
    color: hsl(0, 7%, 76%);
    background-color: #0f0f0f;
}

/* embedded link */

/* Sidebar CSS end */

/* --------------------------------------------------------------------------------------------------------- */

/* Right Sidebar CSS start*/

.rightSideBar__Container{
    background-color: #0f0f0f;
    height: 100vh;
    min-width: 27%;
    position: fixed;
    right:0em;
    top:4em;
    z-index: 5;

    display: grid;
    grid-template-rows: 1.2fr 1fr;
    color:white;
}



.right__current_playlist_container{
    display: grid;
    grid-template-rows: 1fr 4fr;
    height: 80%;
    box-sizing: border-box;
    padding: 0.5em 1em 1em 1em;   
    padding-bottom: 0em;
}

.right__current_playlist_info{
    display: grid;
    grid-template-rows: 2fr 1fr;
    padding: 1em;

    background-color:hsl(0, 0%, 18.82%);

    border-radius: 10px 10px 0px 0px;
    border-color:hsl(0, 0%, 18.82%);
}

.right__current_playlist_name{
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    /* padding: 0em 0.5em 0.2em 0.5em; */
}

.right__current_channel_info{
    display: flex;
    justify-self: left;
    align-items:start;
    column-gap: 1em;
    font-size: 0.8em;
    color: hsl(0, 2%, 75%);
    /* padding: 0.2em 0.5em 0em 0.7em; */
}

.right__current_videos{ 
    height: 20rem;
    overflow-y:scroll;

    display: grid;
    /* row-gap: 0.5em; */
    border-radius: 0px 0px 10px 10px;
    border-left: 2px solid hsl(0, 0%, 18.82%);
    border-right: 2px solid hsl(0, 0%, 18.82%);
    border-bottom: 2px solid hsl(0, 0%, 18.82%);
}

.right__video_preview_container:hover:nth-child(n){
    cursor: pointer;
    background-color: hsl(0, 1%, 15%);
}

.right__video_number{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.2em;
    padding-right: 0.2em;
    font-size: 0.9em;
    color: hsl(0, 2%, 75%);

}

.right__video_info{
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
}

.right__video_title{
    /* display: flex; */
    align-items: start;
    padding-top: 0.3em;
    font-size:0.9em;
    width:15.5em;
    font-weight: bold;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap;
    overflow: hidden; */

    /* background-color: aquamarine; */
}

.right__video_thumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right__video_thumbnail_container{
    /* background-color: white; */
    width: 6em;
    height: 3.5em;
    box-sizing: border-box;
    border-radius: 7px;
    position: relative;
}

.right__video_thumbnail_preview{
    height: 100%;
    width: 100%;
    border-radius: 7px;
}

.right__time_container{
    position: absolute;
    bottom:0.5em;
    right: 0.5em;
    font-size: 0.7em;
    background-color: hsl(0, 0%, 7%);
    padding: 0.2em 0.4em 0.2em 0.4em;
    border-radius: 4px;
    border: none;
}

.right__video_owner{
    display: flex;
    align-items: start;
    font-size:0.7em;
    color: hsl(0, 2%, 75%);
}

.right__video_preview_container{
    display: grid;
    height: 4em;
    grid-template-columns: 0.1fr 2.3fr 5fr;
    padding: 0.3em 0em 0.2em 0em;
}


.rightsidebar__other_playlist_container{
    padding: 0.5em 1em 1em 1em;
}

.rightsidebar__other_playlist{
    height:16em;

    display: grid;
    grid-template-rows: 1fr 5fr;
}

.rightsidebar__other_playlist_title{
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.6em 1em 0.6em 1em;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 18.82%);
    border-radius: 10px 10px 0px 0px;
}

.rightsidebar__other_playlist_preview{
    display: grid;
    overflow-y: scroll;
    border: 2px solid hsl(0, 1%, 15%);
}

.rightsidebar__other_playlist_preview > div:nth-child(n):hover{
    cursor: pointer;
    background-color: hsl(0, 1%, 15%);
}

.rightsidebar__other_playlist_box{
    display: grid;
    grid-template-columns: 1fr 2.2fr;
    height: 4.5em;
    padding: 0.4em 0em 0.4em 0em;
}

.rightsidebar__playlist_image_container{
    padding: 0.3em 0.3em 0.3em 0.5em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightsidebar__playlist_image_box{
    height: 3.8em;
    width: 6.5em;
    position: relative;
}

.rightsidebar__playlist_totalnumber{
    position: absolute;
    bottom: 0;
    background-color: rgba(15, 15, 15, 0.5);
    width: 100%;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist_icon_others{
    padding-right: 0.4em;
    padding-left: 0.4em;
    font-size: 0.7em;
}

.rightsidebar__playlist_image{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.rightsidebar__playlist_info_container{
    display: grid;
    padding-left: 0.4em;
    grid-template-rows: 2fr 1.4fr;
    padding-bottom: 0.4em;
    /* row-gap: 0.2em; */
    /* height: 4.6em; */
}

.rightsidebar__playlist_info_title{
    font-size: 0.9em;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 16em;
    overflow: hidden;
    height: 2.6em; /*to prevent stretching*/
    padding-top: 0.1em;

    /* background-color: pink; */
}

.rightsidebar__playlist_info_owner{
    font-size: 0.7em;
    color: hsl(0, 2%, 75%);
    /* border: 1px solid red; */
    margin-right: 1.8em;

    /* background-color: chartreuse; */

    display: flex;
    justify-content: space-between;
    align-items: start;
    box-sizing: border-box;
    height: 100%;
}

.rightsidebar_playlist_info_owner_name{
    overflow: hidden;
    display: flex;
    /* background-color: palegoldenrod; */
    flex:1;
}

.remove_playlist_from_others_btn{
    border-radius: 5px;
    border: 1px solid hsl(0, 2%, 68%);
    background-color: #0f0f0f;
    color:white;
    height: 100%;
    padding: 0em 1em 0em 1em;
    box-sizing: border-box;
    font-size: 1.1em;
    font-weight: bold;
    transition: all 0.17s;
}

.remove_playlist_from_others_btn:hover{
    cursor: pointer;
    background-color: white;
    color: #0f0f0f;
}

/* Right Sidebar CSS end*/

/* --------------------------------------------------------------------------------------------------------- */

/* Video Playback CSS start */

:root{
    --leftSpacing: 4%;
    --max-width-main:54%;
    --height-main: 10em;
    --video-playback-height:80%;
}

.main__video_playback_container{
    /* background-color: blueviolet; */
    width: var(--max-width-main);
    height: var(--height-main);
    top:4.15em;
    position: relative;
    left: var(--leftSpacing);
}

.main__video_playback{  
    /* border: 1px solid black; */
    padding: 10px;
    height: var(--video-playback-height);
}

.main__video{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 10px;
}


/*-------------------------------------------------------------------------------------------------------*/

/* channel page start */

.channel_page_container{
    top:4em;
    /* height: 10em; */
    height: 87vh;
    padding: 0.5em 0em 1.5em 0em;
    position: relative;
    width: var(--max-width-main);
    left: var(--leftSpacing);
    border-width: 50px;
}
.channel_info_container{
    background-color: rgb(46, 46, 46);
    /* height: 7.5em; */
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1em 1.5em 1em 1.5em;
    margin: 0em 1.5em 0em 1.5em;
    border-radius: 10px;
}

.channel_info_container img{
    padding: 0.3em;
    margin-right: 1em;
    /* width: 12.5%; */
    height: 6em;
}
.channel_info_container h1{
    align-self: center;
}
.channel_video_container{
    display: grid;
    /* padding: 0.4em; */
    min-height: 73vh;
    background-color: #0f0f0f;
}
/* .channel_playlist_container{
    display: grid;
    padding: 0.4em;
    background-color: violet;
} */

.channel_video_list{
    margin: 1.5em;
    border-radius: 10px;
    border-style: solid;
    border-color: hsl(0, 0%, 18.82%);
    display: grid;
    grid-template-rows: 3em 7fr;
}

/* .video_type_heading, .channel_video_preview_container{
    border:1px solid white;
} */

.front_playlist{
    display: none;
}

.video_type_heading{
    display: flex;
    align-items: center;
    /* padding: 0em 1em 0em 1em; */
    color:white;
    font-weight: 600;
    font-size:1.2em;
    border-bottom: 1px solid hsl(0, 0%, 18.82%);
}

.front_video_section_title, .front_playlist_section_title{
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items:end;
    height: 100%;
    border-bottom: 5px solid #0f0f0f;
    transition: all 0.19s;
    padding: 0em 0em 0.3em 0em;
    box-sizing: border-box;
}

.front_video_section_title{
    border-color: white;
}

.front_video_section_title:hover, .front_playlist_section_title:hover{
    border-bottom: 5px solid white;
    background-color: hsl(0, 0%, 18.82%);
    cursor: pointer;
}


:root{
    --height-front-video-preview:6em;
    --height-playlist-rightinfo-container:6.5em;
    --height-playlist-right-title-container: 3.2em;
    --height-playlist-right-btn-container: 1.2em;
}

.front_video_container{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    /* background-color: palegoldenrod; */
    padding: 0.7em 1em 0.9em 1em;
    /* border:2px solid red; */
    height:var(--height-front-video-preview);
}

.front_thumbnail_container{
    /* border:1px solid pink; */
    /* background-color: violet; */
    position: relative;
}

.front_video_time{
    position: absolute;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    color:white;
    height: 1.3em;
    width: 2.4em;
    bottom: 0.5em;
    right: 0.5em;
    border-radius: 4px;
    padding: 0.3em 0.6em 0.3em 0.6em;
    /* z-index:10; */
}


.front_thumbnail{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.front_video_title{
    display: flex;
    padding: 0.5em 1em 0.5em 1em;
    word-wrap: break-word;
    color:white;
    font-size: 1.1em;
}

.front_video_title_playlist{
    /* background-color: pink; */
    padding: 0.3em 0.5em 0.5em 0em;
    word-wrap: break-word;
    color:white;
    font-size: 1.1em;
    overflow: hidden;
    
    box-sizing: border-box;
    /* height: calc(var(--height-playlist-rightinfo-container)*calc(2/4)); */
    height: var(--height-playlist-right-title-container);
}

.front_video_playlist_container1{
    /* background-color: aquamarine; */
    padding: 0em 1em 0em 1em;
    word-wrap: break-word;
    color:white;
    font-size: 1.1em;

    /* display: grid; */
    /* grid-template-rows: 1fr 0.4fr; */
    height: var(--height-playlist-rightinfo-container);
}

.add_to_playlist_btn{
    border: 2px solid hsl(0, 0%, 41%);
    border-radius: 8px;
    padding: 0.7em 2em 0.7em 2em;
    color:white;
    background-color: #0f0f0f;
    transition: all 0.18s;
    font-weight: bold;
    font-size: 0.85em;
}

.add_to_playlist_btn:hover{
    cursor: pointer;
    /* background-color: hsl(0, 0%, 18.82%); */
    background-color: white;
    color:black;
}

.front_add_to_playlist_container{
    display: flex;
    box-sizing: border-box;
    /* height: calc(var(--height-playlist-rightinfo-container)*calc(1/4)); */
    height: var(--height-playlist-right-btn-container);
    /* background-color: blue; */
}

.front_video_container:hover{
    background-color: hsl(0, 0%, 18.82%);
    cursor: pointer;
    border-radius: 3px;
}

.front_playlist_info_container{
    position: absolute;
    background-color: rgba(15, 15, 15, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    color:white;
    height: 1.3em;
    width: 100%;
    bottom: 0;
    right: 0;
    border-radius: 0px 0px 8px 8px;
    padding: 1.3em 0.6em 1.3em 0.6em;
    box-sizing: border-box;
    column-gap: 0.5em;
    /* z-index:10; */
}

.playlist_icon_others_front{
    font-size: 1em;
}

.front_playlist_total_count{

}

.front_channel_name_yt{
    /* display: flex; */
    align-items: center;
    font-size: 1.6em;
    font-weight: 700;
    color:white;
    min-width:18em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/* channel page start */

/* --------------------------------------------------------------------------------------------------------- */